:root {
    --accent: #00ff9f;
    --base: #09090b;
    --white: #ffffff;
    --text-muted: #a1a1aa;
    --border: rgba(255, 255, 255, 0.1);
    --animation: all 0.4s ease;
}

.limiter {
    max-width: 90vw;
}

/* ======== HEADER ======== */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.header__container {
    max-width: 90vw;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    color: var(--text-muted);
    font-size: 0.9rem;
    transition: var(--animation);
}

.nav-link:hover { color: var(--white); }

.back-btn {
    display: flex;
    align-items: center;
    padding: 0.8rem 1.8rem;
    gap: 0.6rem;
    border-radius: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--white);
    font-size: 0.9rem;
    text-decoration: none;
    transition: var(--animation);
    backdrop-filter: blur(10px);
}

.back-btn:hover {
    border-color: var(--accent);
    background: rgba(255, 255, 255, 0.08);
}

/* ======== MAIN CONTAINER ======== */

.case-main {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2rem;
    padding-top: 9rem;
    padding-bottom: 7rem;
}

.case-img__container {
    position: relative;
    width: 44%;
    justify-items: center;
    align-content: center;
    aspect-ratio: 1 / 1;
}

.case-info__container {
    position: relative;
    align-self: center;
    margin-bottom: 1rem;
    width: 52.5%;
}

.case-img-wrapper {
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid var(--border);
}

.full-res-img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(0.9);
}

.details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.75rem;
    gap: 2rem;
}

.heading {
    /* font-size: clamp(3rem, 6vw, 5rem); */
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.1;
    width: 50%;
    margin: 0;
}

.btn-contact {
    display: flex;
    align-items: center;
    padding: 1.35rem 3rem;
    gap: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1.5rem;
    font-size: 1.125rem;
    text-decoration: none;
    color: white;
    transition: var(--animation);
    overflow: hidden;
    background-color: rgba(9, 9, 11, .2);
    background-image: radial-gradient(rgba(255,255,255,.07) 1px, transparent 1px);
    background-size: 4px 4px;
    backdrop-filter: blur(20px);
}

.btn-contact::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.4;
    background-color: var(--bg-dark);
    background-image: 
        radial-gradient(at 20% 30%, rgba(0, 255, 159, 0.15) 0px, transparent 50%),
        radial-gradient(at 80% 20%, rgba(16, 185, 129, 0.1) 0px, transparent 45%),
        radial-gradient(at 50% 80%, rgba(6, 78, 59, 0.2) 0px, transparent 50%),
        radial-gradient(at 90% 90%, rgba(0, 255, 159, 0.08) 0px, transparent 25%);
    z-index: -2; 
}
.btn-contact::after {
    content: "";
    position: absolute;
    inset: 0;
    max-height: 11vh;
    filter: url(#noiseFilter);
    opacity: 0.20;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: -1; 
}
.btn-contact:hover {
    border-color: #00ff9f;
}

/* ======== INFORMATION ======== */

.meta-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 2.5rem;
    padding: 2.85rem 0;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    margin-bottom: 4rem;
}

.meta-item {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0.75rem;
}

.meta-item .label {
    font-size: 0.75rem;
    color: #34d399;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.meta-item .value {
    font-size: 1.2rem;
    color: #f4f4f5;
}

.project-description {
    max-width: 750px;
}

.description {
    line-height: 1.7;
    color: var(--text-muted);
    font-size: 1.25rem;
}

.error-link:hover { 
    transition: var(--animation);
    color: var(--accent); 
}

.footer {
    padding: 3rem 0;
    border-top: 1px solid var(--border);
    text-align: center;
    font-size: 0.75rem;
    color: #52525b;
}

/* ======== OPTIMISATION ======== */

@media (max-width: 768px) {
    .details-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .header__container {
        height: 100px;
    }
    .nav-menu { display: none; } /* Скрываем меню на мобилках для чистоты */
}