@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Space+Grotesk:wght@500;600;700&display=swap');

:root {
    /* colors */
    --accent: #00ff9f;
    --base: #09090b;
    --white: #ffffff;

    --accent-emerald: #10b981;  /* Более глубокий, изумрудный */
    --accent-glow: #0c9a6b;     /* Теплый зеленый для тени */
    --accent-dark: #064e3b;     /* Очень темный зеленый для фона */

    --bg-dark: #09090b;
    --green-bright: #00ff9f;
    --green-emerald: #10b981;
    --green-deep: #064e3b;
    /* functions */
    --animation: all 0.4s ease;
}

* { 
    margin:0; 
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    cursor: none;
}

body {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: var(--base);
    color: var(--white);
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

.limiter {
    max-width: 90vw;
}

::selection {
    background-color: #10b98179;
}

/* ==== Scrollbar ==== */

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    /* display: none;
    scrollbar-width: none;
    -ms-overflow-style: none; */
}

::-webkit-scrollbar-track {
    background: var(--base);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    position: relative;
    background: linear-gradient(45deg, #064e3b4b, #0c9a6b4b);
    border-radius: 10px;
    border: 1px solid #92d2bd4a;
}
::-webkit-scrollbar-thumb::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 1;
    background-color: var(--bg-dark);
    background-image: 
        radial-gradient(at 20% 30%, rgba(0, 255, 159, 0.15) 0px, transparent 50%),
        radial-gradient(at 80% 20%, rgba(16, 185, 129, 0.1) 0px, transparent 45%),
        radial-gradient(at 50% 80%, rgba(6, 78, 59, 0.2) 0px, transparent 50%),
        radial-gradient(at 90% 90%, rgba(0, 255, 159, 0.08) 0px, transparent 25%);
    z-index: 9999; 
}
::-webkit-scrollbar-thumb:hover {
    background: var(--green-emerald);
}

/* ==== Containers ==== */

.hero__container {
    margin: 0 auto;
    padding: 0 2rem;
    padding-top: 8rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}
.about__container {
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0 2rem;
}
.work__container {
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0 2rem;
}
.process__container {
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0 2rem;
}
.contact__container {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0 2rem;
    gap: 5rem;
}
.footer__container {
    position: relative;
    margin: 0 auto;
    padding: 0 2rem;
}

/* ======== HEADER ======== */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(43, 43, 43);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.06);
    background-color: rgba(9, 9, 11, .2);
    background-image: radial-gradient(rgba(255,255,255,.075) 1px, transparent 1px);
    background-size: 4px 4px;
    z-index: 9999;
}
.header::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.4;
    background-color: var(--bg-dark);
    background-image: 
        radial-gradient(at 20% 30%, rgba(0, 255, 159, 0.15) 0px, transparent 50%),
        radial-gradient(at 80% 20%, rgba(16, 185, 129, 0.1) 0px, transparent 45%),
        radial-gradient(at 50% 80%, rgba(6, 78, 59, 0.2) 0px, transparent 50%),
        radial-gradient(at 90% 90%, rgba(0, 255, 159, 0.08) 0px, transparent 25%);
    z-index: -2;
}
.header::after {
    content: "";
    position: absolute;
    inset: 0;
    filter: url(#noiseFilter);
    opacity: 0.20;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: -1;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90vw;
    margin: 0 auto;
    padding: 1.5rem 2rem;
}

.logo {
    display: flex;
    align-items: center;
    transition: var(--animation);
}
.logo:hover {
    opacity: 0.75;
}
.logo:hover .logo-circle {
    background-color: var(--white);
}
.logo-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75vw;
    height: 1.7vw;
    border-radius: 50%;
    font-size: 1.65rem;
    font-weight: 700;
    padding: 1rem;
    color: #000;
    background-color: #10b981;
    box-shadow: 5px 0px 4px -1px rgba(0, 19, 13, 0.6);
    transition: var(--animation);
    z-index: 2;
}

.logo-name {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.013rem;
}

.nav-menu {
    display: none;
    align-items: center;
    gap: 2.5rem;
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-link {
    position: relative;
    color: white;
    text-decoration: none;
}
.nav-link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.125rem;
    bottom: -0.25rem;
    left: 0;
    background: #00ff9f;
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover:after {
    width: 100%;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.theme-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: var(--animation);
}
.theme-btn:hover {
    border-color: #10b981;
}

.cta-btn {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    gap: 0.5rem;
    border-radius: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px 0px 10px -4px #1d1d1d47;
    /* color: black; */
    font-weight: 500;
    text-decoration: none;
    overflow: hidden;
    transition: var(--animation);
    backdrop-filter: blur(20px);
}
.cta-btn:hover {
    /* background-color: #10b981; */
    color: white;
    border-color: #10b981;
    box-shadow: inset 0px 0px 10px 0px #043729aa;
}
.cta-btn:hover i {
    transform: translateX(3px) rotate(45deg);
}
.cta-btn:active i {
    transform: translateX(0.2rem) translateY(0.65rem) rotate(90deg);
    transition: all 0.1s ease;
}
i {
    transition: var(--animation);
}
/* ==== CUSTOM CURSOR ==== */

.cursor-dot {
    position: fixed;
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #00ff9d;
    box-shadow: 0px 0px 4px 0px #0c9a6b97;
    border-radius: 50%;
    opacity: 1;
    backdrop-filter: blur(1px);
    pointer-events: none;
    mix-blend-mode: difference;
    transform: translate(-30%, -20%);
    z-index: 10000;
}
/* Cursor glow under header */
.cursor-on-header {
    opacity: 0.45;
    width: 2.75rem;
    height: 2.75rem;
    border: 1px solid #00ff9d;
    box-shadow: 0px 0px 20px 10px #0c9a6b97,
    inset 0px 0px 20px 2px #07895d81;
    mix-blend-mode: normal;
}
/* Text state */
.cursor-dot.cursor-text {
    width: 0.125rem;
    height: 2.125rem;
    border-radius: 0;
    background-color: var(--accent);
}
/* Pointer state */
.cursor-dot.cursor-pointer {
    width: 2.125rem;
    height: 2.125rem;
    clip-path: polygon( 50% 0%, 100% 50%, 75% 50%, 50% 100%, 25% 50%, 0% 50% );
    background-color: rgba(0, 255, 157, 0.8);
    box-shadow: none;
}

/* ======== HERO SECTION ======== */

.hero {
    min-height: 100vh;
    background: radial-gradient(at center bottom, rgba(0, 255, 159, 0.08) 0%, transparent 50%);
    display: flex;
    align-items: center;
    position: relative;
}
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    filter: url(#noiseFilter);
    opacity: 1;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: -9999;
}

.hero-content {
    display: flex;
    flex-direction: column;
    top: 0;
    gap: 2rem;
}

.status-badge {
    display: inline-flex;
    align-items: center;
    width: 42%;
    gap: 0.8rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 9999px;
    color: white;
}
.status-badge--pulse-dot {
    width: 0.5rem;
    height: 0.5rem;
    background: #10b981;
    border-radius: 50%;
    animation: pulse 2s infinite;
}

.hero-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: clamp(3.8rem, 9vw, 6.5rem);
    line-height: 0.9;
    letter-spacing: -0.25rem;
    font-weight: 700;
    margin-left: -0.25rem;
}

.hero-subtitle {
    font-size: 1.25rem;
    line-height: 1.8;
    color: #a3a3a3;
    max-width: 26.25rem;
}

.hero-actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.primary-btn {
    display: flex;
    align-items: center;
    padding: 1.85rem 2.5rem;
    gap: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1.5rem;
    font-size: 1.125rem;
    text-decoration: none;
    color: white;
    transition: var(--animation);
    overflow: hidden;

    background-color: rgba(9, 9, 11, .2);
    background-image: radial-gradient(rgba(255,255,255,.07) 1px, transparent 1px);
    background-size: 4px 4px;
    backdrop-filter: blur(20px);
}
.primary-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.4;
    background-color: var(--bg-dark);
    background-image: 
        radial-gradient(at 20% 30%, rgba(0, 255, 159, 0.15) 0px, transparent 50%),
        radial-gradient(at 80% 20%, rgba(16, 185, 129, 0.1) 0px, transparent 45%),
        radial-gradient(at 50% 80%, rgba(6, 78, 59, 0.2) 0px, transparent 50%),
        radial-gradient(at 90% 90%, rgba(0, 255, 159, 0.08) 0px, transparent 25%);
    z-index: -2; 
}
.primary-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    max-height: 11vh;
    filter: url(#noiseFilter);
    opacity: 0.20;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: -1; 
}
.primary-btn:hover {
    border-color: #00ff9f;
}
.primary-btn:hover .arrow {
    transform: rotate(90deg);
}
.primary-btn:active .arrow {
    transform: translateY(1rem) rotate(135deg);
    transition: all 0.1s ease;
}
.arrow {
    font-size: 1.75rem;
    transition: var(--animation);
    transform: rotate(45deg);
}

/* .btn-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    transition: var(--animation);
}
.btn-scroll:hover {
    border-color: #00ff9f;
} */

.hero-visual {
    position: relative;
}

.visual-frame {
    position: relative;
    aspect-ratio: 1 / 1;
    background: #18181b;
    border-radius: 4rem;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: var(--animation);
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.6);
    transition: var(--animation);
}
.hero-image:hover {
    filter: grayscale(0);
    box-shadow: -4px 4px 6px -4px rgba(16, 185, 129, 0.5);    
}

.image-overlay {
    position: absolute;
    inset: 0;
    opacity: 1;
    background: linear-gradient(to bottom left, rgba(16, 185, 129, 0.25) 0%, rgba(16, 185, 129, 0.10) 20%, rgba(16, 185, 129, 0.05) 60%, transparent 90%);
    transition: var(--animation);
}

.visual-frame:hover { 
    & .image-overlay {
        opacity: 0;
    }

    & .hero-image {
        transform: scale(102%);
    }

}

.floating-tag {
    position: absolute;
    width: 39.7%;
    height: 10%;
    padding: 2% 4% 2% 4%;
    font-size: 0.875rem;
    border-radius: 100rem;
    border: 1px solid rgba(216, 216, 216, 0.2);
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 0.06);
    overflow: hidden;
    z-index: 2;
}

.tag-1 {    
    align-self: center;
    top: 6.2%;
    left: 6.2%;
    opacity: 1;
    transition: var(--animation);
}

.tag-1__info-txt {
    font-size: 0.85rem;
    display: block;
    opacity: 1;
}

.txt {
    font-size: 1.1rem;
    transition: var(--animation);
}

/* Decorative SVG */

.decorative-svg1 {
    position: absolute;
    top: -3rem;
    right: -3rem;
    width: 24rem;
    height: 24rem;
    opacity: 0.2;
    border: 1px solid #00ff9dae;
    border-radius: 50%;
    pointer-events: none;
    backdrop-filter: blur(6px);
    transition: var(--animation);
    z-index: -9999;
}
.decorative-svg2 {
    position: absolute;
    top: -120%;
    right: -18%;
    width: 44rem;
    height: 44rem;
    opacity: 0.3;
    border-radius: 50%; 
    /* border: 1px solid #00ff9d6e; */
    pointer-events: none;
    transition: var(--animation);
    animation: glowPulse 3s ease-in-out infinite;
    z-index: -2;
}
.decorative-svg3 {
    position: absolute;
    top: -122%;
    right: 28%;
    width: 31rem;
    height: 31rem;
    opacity: 0.3;
    border-radius: 50%;
    border: 2px solid #08754b74;
    pointer-events: none;
    transition: var(--animation);
    animation: glowPulse 3s ease-in-out infinite;
    z-index: -2;
}
.decorative-svg4 {
    position: absolute;
    top: 78%;
    right: 90%;
    width: 31rem;
    height: 31rem;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid #0fa96e57;
    pointer-events: none;
    transition: var(--animation);
    animation: glowPulse 3s ease-in-out infinite;
    z-index: -2;
}
.decorative-svg5 {
    position: absolute;
    top: 115%;
    right: 71.3%;
    width: 18rem;
    height: 18rem;
    opacity: 0.3;
    border-radius: 50%;
    border: 1px solid #0fa96e86;
    pointer-events: none;
    transition: var(--animation);
    animation: glowPulse 3s ease-in-out infinite;
    z-index: -3;
}

/* ======== ABOUT SECTION ======== */

.line {
    display: block;
    height: 0.1vh;
    opacity: 0.7;
    background: linear-gradient(0.25turn, transparent 5%, rgb(55, 55, 55), transparent 95%);
    backdrop-filter: blur(2px);
    z-index: 10;
}

.about {
    padding: 8rem 0;
    background: radial-gradient(circle at calc(80% - 70%) 130%, rgba(0, 255, 159, 0.055) -10%, transparent 30%);
    background-size: 170% 170%; 
    animation: gradientMove 4s ease infinite;
    overflow: hidden;
}

.about__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

.about__left {
    justify-self: left;
    align-content: start;
    padding-left: 0;
    justify-self: start;
}

.about__right {
    justify-content: space-between;
}

.accent-label {
    display: inline-block;
    margin: 0% 0% 0% 0.25rem;
    color: var(--accent);
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.about__title {
    justify-self: flex-end;
    font-size: clamp(3rem, 6vw, 4.5rem);
    line-height: 1;
    margin-top: 3.15rem;
}

.about__description {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.325rem;
    line-height: 1.625;
    color: #d4d4d8;
}

.about__description p {
    max-width: 90%;
}

.stat-item:hover > .stat-number {
    text-shadow: 0px 0px 30px #6efac7af;
}

.about__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-top: 2rem;
    margin-top: 3rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    width: 90%;
}

.stat-number {
    font-size: 3rem;
    font-weight: 600;
    color: rgb(52 211 153);
    font-family: 'Space Grotesk', sans-serif;
    transition: var(--animation);
}

.stat-label {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #a1a1aa;
    margin-top: 0.5rem;
}

/* ======== PROJECTS SECTION ======== */

.work {
    position: relative;
    padding: 8rem 0;
    background-color: #000;
    overflow: hidden;
}

.work__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 4rem;
}

.work__title {
    line-height: 1;
    font-size: clamp(3rem, 6vw, 4.5rem);
    margin-top: 3.15rem;
}

.all-projects-link {
    display: flex;
    gap: 0.75rem;
    text-decoration: none;
    color: var(--white);
    font-size: 0.875rem;
    text-transform: uppercase;
}

.arrow-icon {
    display: inline-block;
    font-size: 1.5rem;
    transition: var(--transition);
}

.all-projects-link:hover .arrow-icon {
    transform: translateX(8px);
}

.work__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.project-card {
    background-color: var(--zinc-900);
    border-radius: 1.5rem;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: var(--transition);
}

.project-card__visual {
    position: relative;
    aspect-ratio: 1 / 1;
}

.project-card__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: var(--animation);
}

.project-card__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    display: flex;
    align-items: flex-end;
    padding: 2rem;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.project-card:hover .project-card__overlay {
    opacity: 1;
}

.project-card__title {
    font-size: 2.25rem;
    margin-top: 0.5rem;
}

.accent-label.small {
    margin-left: 0.08rem;
    font-size: 0.75rem;
}

.project-card__footer {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card__tags {
    color: var(--white);
    
}

.card-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    align-content: end;
    padding: 0.75rem 1.5rem;
    gap: 0.5rem;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.85rem;
    font-size: 0.875rem;
    color: var(--white);
    transition: var(--animation);
    
    background-color: rgba(9, 9, 11, .2);
    background-image: radial-gradient(rgba(255,255,255,.09) 1px, transparent 1px);
    background-size: 0.25rem 0.25rem;
    backdrop-filter: blur(20px);
    overflow: hidden;
    cursor: pointer;
}
.card-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;
    background-color: var(--bg-dark);
    background-image: 
        radial-gradient(at 20% 30%, rgba(0, 255, 159, 0.15) 0px, transparent 50%),
        radial-gradient(at 80% 20%, rgba(16, 185, 129, 0.1) 0px, transparent 45%),
        radial-gradient(at 50% 80%, rgba(6, 78, 59, 0.2) 0px, transparent 50%),
        radial-gradient(at 90% 90%, rgba(0, 255, 159, 0.08) 0px, transparent 25%);
    z-index: -2; 
}
.card-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    filter: url(#noiseFilter);
    opacity: 0.20;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: -1; 
}
.card-btn:hover {
    background-color: #00ff9d7b;
    background-image: none;
    box-shadow: inset 0px 0px 10px -2px rgba(12, 12, 12, 0.8);
}
.card-btn:hover i {
    transform: translateX(6px);
}

.card-btn-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.card-btn a {
    margin: 0;
    padding: 0;
    line-height: 1;
}

/* .arrow-icon_card {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.arrow-icon_card svg {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
} */

#arrow {
    transition: var(--animation);
}

.projects-btn {
    display: flex;
    padding: 0.85rem 1.5rem;
    text-decoration: none;
    align-self: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.85rem;
    transition: var(--animation);
    overflow: hidden;

    background-color: rgba(9, 9, 11, .2);
    background-image: radial-gradient(rgba(255,255,255,.09) 1px, transparent 1px);
    background-size: 4px 4px;
    backdrop-filter: blur(20px);
}
.projects-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;
    background-color: var(--bg-dark);
    background-image: 
        radial-gradient(at 20% 30%, rgba(0, 255, 159, 0.15) 0px, transparent 50%),
        radial-gradient(at 80% 20%, rgba(16, 185, 129, 0.1) 0px, transparent 45%),
        radial-gradient(at 50% 80%, rgba(6, 78, 59, 0.2) 0px, transparent 50%),
        radial-gradient(at 90% 90%, rgba(0, 255, 159, 0.08) 0px, transparent 25%);
    z-index: -2; 
}
.projects-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    max-height: 11vh;
    filter: url(#noiseFilter);
    opacity: 0.20;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: -1; 
}
.projects-btn:hover {
    /* box-shadow: 24px 0px 20px -15px #00ff9d,
    inset 24px 0px 20px -30px #00ff9d,
    -10px 0px 10px -5px #11ac79;
    border-radius: 20%; */
    border-color: #00ff9f;
}

/* ======== PROCESS SECTION ======== */

.process {
    padding: 8rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(circle at calc(100% - 20%) -5%, rgba(0, 255, 159, 0.055) -10%, transparent 30%);
    background-size: 150% 150%; 
    animation: gradientMove 4s ease-in-out infinite;
    overflow: hidden;
}

.porcees-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 4rem;
}

.process__title {
    font-size: clamp(3rem, 6vw, 4.5rem);
    line-height: 1;
    margin-top: 3.15rem;
    margin-bottom: 2.5rem;
    width: 35%;
}

.process__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-left: 0.2rem;
}

.process__step {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.step-number {
    font-size: 3.75rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.3);
    line-height: 1;
    transition: var(--animation);
}
.process__step:hover .step-number {
    color: rgb(52, 211, 153);
    text-shadow: 0px 0px 30px #6efac7af;
}

.step-name {
    font-size: 1.5rem;
}

.step-description {
    color: #a1a1aa;
    line-height: 1.5;
}

.accent-text-color {
    font-size: 120%;
    color: var(--accent-emerald);
}

/* ======== CONTACT SECTION ======== */

.contact {
    position: relative;
    padding: 8rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #000;
    overflow: hidden;
}

.contact__title {
    font-size: clamp(3rem, 6vw, 4.5rem);
    line-height: 1.1;
}

.contact__text {
    margin-top: 2rem;
    max-width: 28rem;
    color: #a1a1aa;
}

.contact__links {
    margin-top: 4rem;
}

.contact__email {
    display: block;
    font-size: 1.875rem;
    color: white;
    width: 52.5%;
    text-decoration: none;
    margin-bottom: 1.5rem;
    transition: var(--animation);
}
.contact__email:hover, .social-link:hover {
    color: var(--accent);
}

.social-icons {
    display: flex;
    gap: 2rem;
}

.social-link {
    color: white;
    transition: var(--animation);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

/* company */
.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
}

.form-company-wrapper {
    position: relative;
}

.company-placeholder-btn {
    display: inline-flex;
    align-items: stretch;
    height: 40px;
    color: #71717a;
    text-decoration: underline;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
    transition: color 0.2s;
    user-select: none;
    text-decoration: none;
}

.company-placeholder-btn:hover {
    color: var(--accent);
}

.company-input-block {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.company-close-btn {
    position: absolute;
    right: 10px;
    bottom: 4.255rem;
    background: none;
    border: none;
    font-size: 20px;
    color: #999;
    cursor: pointer;
    line-height: 1;
    padding: 0;
}
.company-close-btn:hover {
    color: #ff4d4d;
}

.form-company-wrapper.active .company-placeholder-btn {
    display: none;
}
.form-company-wrapper.active .company-input-block {
    max-height: 100px;
    opacity: 1;
}

.form-label {
    font-size: 0.875rem;
    color: #a1a1aa;
    margin-bottom: 0.5rem;
}

.form-input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem 0;
    font-size: 1.125rem;
    color: white;
    outline: none;
    transition: border-color 0.3s ease;
}
.form-input:focus {
    border-color: var(--accent);
}

.form-textarea {
    resize: none;
    scrollbar-width: thin; 
    scrollbar-color: var(--accent) transparent;
}

.submit-btn {
    position: relative;
    width: 100%;
    padding: 2rem;
    /* background-color: white; */
    color: var(--white);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    transition: var(--animation);

    background-color: rgba(9, 9, 11, 0.2);
    background-image: radial-gradient(rgba(255,255,255,.065) 1px, transparent 1px);
    background-size: 5px 5px;
}
.submit-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;
    /* background-color: var(--bg-dark); */
    background-image: 
        radial-gradient(at 20% 30%, rgba(0, 255, 159, 0.15) 0px, transparent 50%),
        radial-gradient(at 80% 20%, rgba(16, 185, 129, 0.1) 0px, transparent 45%),
        radial-gradient(at 50% 80%, rgba(6, 78, 59, 0.2) 0px, transparent 50%),
        radial-gradient(at 90% 90%, rgba(0, 255, 159, 0.08) 0px, transparent 25%);
}
.submit-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    filter: url(#noiseFilter);
    opacity: 1;
    mix-blend-mode: overlay;
    pointer-events: none;
}
.submit-btn:hover {
    border-color: #00ff9f;
    box-shadow: inset 0px 0px 10px 0px #064e3bc7;
}

/* ======== FOOTER ======== */

.footer {
    padding: 3rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    font-size: 0.75rem;
    color: #71717a;
    line-height: 1.5;
    justify-items: center;
    align-items: center;
}

/* ======== ANIMATIONS ======== */

/* Status Badge Animation */
@keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
}

/* Circle's Animation */
@keyframes glowPulse {
    0%, 100% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.4;
    }
}

/* Section's Gradient Animation */
@keyframes gradientMove {
    0%, 100% {
        background-position: calc(100% - 20%) -5%;
        background-size: 100% 100%;
    }
    50% {
        background-position: calc(100% - 20%) 15%;
        background-size: 120% 120%;
    }
}

/* ======== OPTIMISATION ======== */

/* Responsive Max-Width */
@media (max-width: 768px) {
    .cursor-dot {
        display: block;
    }

    /* Hero */
    .hero-container {
        grid-template-columns: 1fr;
        gap: 3rem;
        padding-top: 6.25rem;
    }
    
    .hero-title {
        font-size: 3.8rem;
        justify-self: left;
    }
    
    /* 01 About */
    .about__left {
        width: 100%;
        justify-self: left;
    }

    .about__stats {
        justify-self: center;
        justify-items: center;
        gap: 2.5rem;
    }
    
    .about__title {
        justify-self: left;
    }

    /* Contact */
    .form-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsive Min-Width */
@media (min-width: 768px) {
    .nav-menu {
        display: flex;
    }

    /* 01 About */
    .about__grid {
        grid-template-columns: repeat(12, 1fr);
    }
    
    .about__left {
        grid-column: span 5;
    }
    
    .about__right {
        grid-column: span 7;
    }

    /* 02 Works */
    .work__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* 03 Process */
    .process__grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
    /* Contact */
    .contact__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Optimisation */
@media (prefers-reduced-motion: reduce) {
    .header {
        backdrop-filter: none;
        background: rgba(9, 9, 11, 0.95);
    }
}